@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@600&display=swap");
.Cards-0{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(228, 228, 228, 0.402);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cards-1{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.Cards-2{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Cards-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Cards-3{
    
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}