@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@600&display=swap');
#Header-Brands{
    cursor: pointer;
}
#Header-links{
    font-family: 'Shantell Sans', cursive;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 50px;
    color: white;
}
#Header-links:hover{
    color: rgba(0, 242, 255, 0.838);
}
@media (max-width:900px) {
    #Header-links{
        font-size: 17px;
        letter-spacing: 1px;
        margin-left: 10px;
        color: white;
    }
    
}
