@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet');

/* .navbar-links {
   display: flex !important;
   width: 50vw;
   justify-content: center !important;
   gap: 4rem;

} */
.links{
    font-size: 1.14rem !important;
    font-weight: 600 !important;
    font-family: 'Delicious Handrawn' !important;
}

.links:hover{
    color: aqua;
}
.logo-container-text{
    display: flex !important;
    
   justify-content: flex-start !important;
   /* padding-right: 30rem; */
   font-size: 2rem !important;
    font-weight: 600 !important;
    font-family: 'Delicious Handrawn' !important;
}
.logo{
    margin-left: 12rem;
    
}

