@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet');
.Border-0 {
    margin-top: 50px;
    height: 35vh;
    background-image: url('../../Images/header-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.Border-1{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.Border-2{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    margin-top: 1px;
}
 
.Border-3{
    font-family: 'Delicious Handrawn'!important;
    color: black;
    text-decoration: none;
    margin-right: 15px;
}
.Border-4{
    font-family: 'Delicious Handrawn'!important;
    color: rgb(44, 44, 44);
    margin-left: 15px;
}

@media (max-width:900px) {
    .Border-0 {
        height: 30vh;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .Border-1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
    } 
    .Border-2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-top: 1px;
    }
} 