@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@600&display=swap');
.complete{
  background-color: rgb(0, 0, 0); 
  width: 100%;
}
.stylefirst{
  background-color: rgba(0, 0, 0, 0.961); 
}
.stylethird{
  width: 60px; 
  background-color: #ffffff; 
  height: 2px
}
.stylefour{
  background-color: rgba(50, 50, 50, 0.89); 
  color: white;
}
.icon{
  width: 100px;
  height: 50px;
  margin-right: 10px;
}
.footer-link{
  font-family: 'Shantell Sans', cursive;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: medium;
  font-weight: medium;
  color: rgb(255, 255, 255);
  line-height: 40px;
}
.footer-link:hover{
  font-size: large;
  color: rgba(0, 242, 255, 0.838);
  animation-delay: 0.5s;
}
.main-desc{
  font-family: 'Shantell Sans', cursive;
  letter-spacing: 1px;
  line-height: 30px;
  color: white;
}
.address p{
  font-family: 'Shantell Sans', cursive;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: medium;
  font-weight: medium;
  color: rgb(255, 255, 255);
  line-height: 40px;
}
.policy p{
  font-family: 'Shantell Sans', cursive;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: medium;
  font-weight: medium;
  color: rgb(255, 255, 255);
  line-height: 40px;
}
.policy h6{
  color: rgba(0, 242, 255, 0.943);
  padding-bottom: 15px;
}
.address h6{
  color: rgba(0, 242, 255, 0.943);
  padding-bottom: 15px;
}
.mix h6{
  color: rgba(0, 242, 255, 0.943);
  padding-bottom: 15px;
}